<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>ChatGPT Mini</h1>
        <div class="card">
            <div class="card-body">
                <div class="chatlog" id="chatlog"></div>
                <hr>
                <div class="input-group mb-3">
                    <textarea class="form-control" id="user_message" placeholder="Type your message here..."></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="send_button">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="/static/scripts.js"></script>

    <div class="footer">
        <footer>&copy; 2023, Adhish Thite. Made with ❤️ in भारत 🇮🇳</footer>
    </div>
</body>
</html>
